<div class="ROCOGlossary">
	<dt><a class="ROCOGlossaryZeroDataLink" href="https://rosano.hmm.garden/01etqm6qmcva4hja4y037ecaj6" target="_blank"><%= OLSKLocalized('ROCOGlossaryZeroDataLinkText') %></a></dt>
	<dd class="ROCOGlossaryZeroDataBlurb"><%= OLSKLocalized('ROCOGlossaryZeroDataBlurbText') %></dd>
</div>
